@{
    ViewBag.Title = "About";
}
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>About</h2>

        </div>

        <div class="row">
            <div class="col-lg-4">
                <img src="~/Content/styles/img/Untitled design.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content">
                <h3>Full Stack Developer</h3>


                <p>
                    My work history has been flooded with blue collar work and retail jobs from the day I turned 16. I always had an itch of wanting to do bigger and better things but could never find what the right career was to scratch that itch. I am however very grateful for my past work as it taught me many valuable skills. Troubleshooting, active learning, and critical thinking all come at a thanks to my past jobs.  Those skills also helped me with my time at Centriq. Being able to learn about development while at the same time developing applications was an amazing experience. Centriq helped me focus in even more on the skills I already do have and on skills I didn’t know about, such as pair programming, and project management. Going through this program and becoming a Full Stack Developer I can finally say that the itch has been scratched and it feels amazing. Designing applications using CSS, and JavaScript is the bigger and better thing I was looking for.
                </p>
            </div>
        </div>

    </div>
</section>
