@model PersonalSiteMVC.UI.Models.ContactViewModel

@{
    ViewBag.Title = "EmailConfirmation";
}


<h4 class="confirmation">The following message has been succesfuly sent:</h4>
<p style="text-align: center;">@Model.Message</p>
<h4 style="text-align: center;">I will respond to @Model.Email as soon as I can. Thank you for your contacting me!</h4>


