
@{
    ViewBag.Title = "Links";
}

<section id="links" class="links">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Links</h2>
            <p>Peers I attended Centriq Training with.</p>
        </div>
        <div class="row">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">

                <div class="peer">
                    <img src="~/Content/styles/img/ZakLink.jpg" />
                    <div class="peer-links">
                        <h4>Zak Sisler</h4>
                        <a href="http://zaksisler.com/" title="Personal Site" target="_blank"><i class="fa fa-link"></i></a>
                        <a href="https://www.linkedin.com/in/zakary-sisler" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">

                <div class="peer">
                    <img src="~/Content/styles/img/ConnorLink.jpg" />
                    <div class="peer-links">
                        <h4>Connor Dunn</h4>
                        <a href="http://fountaincitydev.com/" title="Personal Site" target="_blank"><i class="fa fa-link"></i></a>
                        <a href="https://www.linkedin.com/in/connor-dunn-396188233/" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">

                <div class="peer">
                    <img src="~/Content/styles/img/RomeoLink.jpg" />
                    <div class="peer-links">
                        <h4>Romeo Bagunu</h4>
                        <a href="http://lc.austinwallace.net/" title="Personal Site" target="_blank"><i class="fa fa-link"></i></a>
                        <a href="https://www.linkedin.com/in/romeo-bagunu/" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">

                <div class="peer">
                    <img src="~/Content/styles/img/SeanLink.jpg" />
                    <div class="peer-links">
                        <h4>Sean McKinney</h4>
                        <a href="http://mckinneywebdev.com/" title="Personal Site" target="_blank"><i class="fa fa-link"></i></a>
                        <a href="https://www.linkedin.com/in/sean-a-mckinney/" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">

                <div class="peer">
                    <img src="~/Content/styles/img/JazmineLink.jpg" />
                    <div class="peer-links">
                        <h4>Jazmine Rizo</h4>
                        <a href="http://jazminerizo.com/" title="Personal Site" target="_blank"><i class="fa fa-link"></i></a>
                        <a href="https://www.linkedin.com/in/jazmine-rizo-7aa283232" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">

                <div class="peer">
                    <img src="~/Content/styles/img/MattLink.jpg" />
                    <div class="peer-links">
                        <h4>Matt Roberts</h4>
                        <a href="http://mattroberts-dev.com/" title="Personal Site" target="_blank"><i class="fa fa-link"></i></a>
                        <a href="https://www.linkedin.com/in/mattroberts-dev/" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">

                <div class="peer">
                    <img src="~/Content/styles/img/KaylaLink.jpg" />
                    <div class="peer-links">
                        <h4>Kayla Nguyen</h4>
                        <a href="http://www.kaylawin.com/" title="Personal Site" target="_blank"><i class="fa fa-link"></i></a>
                        <a href="https://www.linkedin.com/in/kayla-n-nguyen/" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>



