
@{
    ViewBag.Title = "Portfolio";
}

<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Portfolio</h2>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-HTML">HTML</li>
                    <li data-filter=".filter-C">C#</li>
                    <li data-filter=".filter-MVC">MVC</li>
                    <li data-filter=".filter-React">React</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item filter-HTML">
                <div class="portfolio-wrap">
                    <img src="~/Content/styles/img/LegoBody.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Lego Consultants</h4>
                        <p>HTML, CSS</p>
                        <div>Website built from scratch using only HTML and CSS.</div>
                        <div class="portfolio-links">
                            <a href="http://lc.austinwallace.net/" title="Lego Consultants" target="_blank"><i class="fa fa-link"></i></a>
                            <a href="https://github.com/AusWallace56/FED1StudioProject" title="GitHub" target="_blank"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-C">
                <div class="portfolio-wrap">
                    <img src="~/Content/styles/img/Dungeon.jpg" class="img-fluid" alt="" />
                    <div class="portfolio-info">
                        <h4>Paragon's Call</h4>
                        <p>C#</p>
                        <div>A dungeon crawler console game built with C#. How far can you make it?</div>
                        <div class="portfolio-links">
                            <a href="https://github.com/AusWallace56/DungeonApp" title="GitHub" target="_blank"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-MVC">
                <div class="portfolio-wrap">
                    <img src="~/Content/styles/img/StoreFront.PNG" class="img-fluid" alt="" />
                    <div class="portfolio-info">
                        <h4>Retired Bricks</h4>
                        <p>MVC</p>
                        <div>Storefront site based on Retired LEGO pieces.</div>
                        <div class="portfolio-links">
                            <a href="http://storefront.austinwallace.net/" title="Retired Bricks" target="_blank"><i class="fa fa-link"></i></a>
                            <a href="https://github.com/AusWallace56/PersonalSiteMVC" title="GitHub" target="_blank"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-React">
                <div class="portfolio-wrap">
                    <img src="~/Content/styles/img/WeddingHands.jpg" class="img-fluid" alt="" />
                    <div class="portfolio-info">
                        <h4>I Do To Dos</h4>
                        <p>React</p>
                        <div>Wedding planner to do list</div>
                        <div class="portfolio-links">
                            <a href="http://todo.austinwallace.net/" title="I Do To Dos" target="_blank"><i class="fa fa-link"></i></a>
                            <a href="https://github.com/AusWallace56/React_ToDo" title="GitHub" target="_blank"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-MVC">
                <div class="portfolio-wrap">
                    <img src="~/Content/styles/img/FunksMusic.png" class="img-fluid" alt="" />
                    <div class="portfolio-info">
                        <h4>Funks Music SAT</h4>
                        <p>MVC</p>
                        <div>Scheduling Administration Tool</div>
                        <div class="portfolio-links">
                            <a href="http://sat.austinwallace.net/" title="Funks Music" target="_blank"><i class="fa fa-link"></i></a>
                            <a href="https://github.com/AusWallace56/SAT" title="GitHub" target="_blank"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-React">
                <div class="portfolio-wrap">
                    <img src="~/Content/styles/img/ToDoAPI.png" class="img-fluid" alt="" />
                    <div class="portfolio-info">
                        <h4>I Do To Dos API</h4>
                        <p>React</p>
                        <div>API built for To Do list React App</div>
                        <div class="portfolio-links">
                            <a href="http://todoapi.austinwallace.net/" title="API" target="_blank"><i class="fa fa-link"></i></a>
                            <a href="https://github.com/AusWallace56/ToDoAPI" title="GitHub" target="_blank"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-MVC">
                <div class="portfolio-wrap">
                    <img src="~/Content/styles/img/WIGFH.png" class="img-fluid" alt="" />
                    <div class="portfolio-info">
                        <h4>WIGFH Company Website</h4>
                        <p>MVC</p>
                        <div>Live website built for Widow I Go From Here</div>
                        <div class="portfolio-links">
                            <a href="https://widowigofromhere.com/" title="WIGFH" target="_blank"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

