
@{
    ViewBag.Title = "Resume";
}

<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Resume</h2>

        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Smart Home/Internet/TV Technician</h4>
                    <h5>2021 - 2022</h5>
                    <p><em>Joplin, MO </em></p>
                    <p>
                        <ul>
                            <li>Self-managed. Operated company vehicle and performed job with company assigned tools.</li>
                            <li>Evaluated and devised strategies for the implementation of equipment. </li>
                            <li>Provided services for private residences as well as commercial. Entrusted with the care of the customer’s property, seeing an average of 6 properties per day.</li>
                            <li>Test repaired, newly installed, or updated equipment to ensure that it functions properly and conforms to specifications, using test equipment and observation.</li>
                            <li>Knowledge of principles and processes for providing customer and personal services. This includes customer needs assessment, meeting quality standards for services, and evaluation of customer satisfaction.</li>
                            <li>Trained all customers on proper equipment usage, installation procedures, and any self-capable troubleshooting steps. </li>
                        </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>Inventory Manager/Dog Trainer</h4>
                    <h5>2020 - 2021</h5>
                    <p><em>PetSmart, Bentonville, AR</em></p>
                    <p>
                        <ul>
                            <li>Effectively balanced workflow, due to being the inventory manager full time and a dog trainer part time.</li>
                            <li>Knowledge of business and management principles involved in strategic planning, resource allocation, leadership technique, production methods, and coordination of people and resources.</li>
                            <li>Remotely monitor the flow of vehicles or inventory, using Web-based logistics information systems to track vehicles or containers.</li>
                            <li>Conduct training programs to develop or maintain desired animal behaviors for competition, entertainment, obedience, security, or related purposes</li>
                        </ul>
                    </p>
                </div>

            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Cont.</h3>
                <div class="resume-item">
                    <h4>Assistant Manager</h4>
                    <h5>2019 - 2020</h5>
                    <p><em>Hy-Vee, Lamoni, IA</em></p>
                    <p>
                        <ul>
                            <li>Direct sales floor activities, ensuring excellence in customer service and resolving store level problems.</li>
                            <li>Manage merchandise selection, window displays, and stocking, working directly with vendors. </li>
                            <li>Routinely inspect company property and equipment, creating repair tickets as needed to ensure a comfortable and safe space for employees and guests.</li>
                            <li>Addressed customer service concerns, resolving issues and ensuring exceptional experiences for 100+ customers a day.</li>
                        </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>Meat Room Lead</h4>
                    <h5>2018 - 2019</h5>
                    <p><em>Blue Buffalo, Joplin, MO</em></p>
                    <p>
                        <ul>
                            <li>Read and analyze charts, work orders, production schedules, and other records and reports to determine production requirements and to evaluate current production estimates and outputs.</li>
                            <li>Knowledge of raw materials, production processes, quality control, costs, and other techniques for maximizing the effective manufacture and distribution of goods.</li>
                            <li>Organizing meetings to discuss safety, production, sanitation, quality assurance, and relating topics.</li>
                            <li>Confer with other supervisors to coordinate operations and activities within or between departments.</li>
                            <li>Conduct employee training in equipment operations or work and safety procedures or assign employee training to experienced workers.</li>
                        </ul>
                    </p>
                </div>
                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Centriq Training</h4>
                    <h5>2022</h5>
                    <p><em>Centriq Training, Kansas City, MO</em></p>
                    <p>Full Stack Web Developer Program</p>
                </div>

            </div>
        </div>

    </div>
</section>

